<div class="container-fluid">
    <div class="row">
        <div style="min-height: 92vh;width: fit-content;" class='col-lg-2  bg-dark d-flex flex-column p-3'>
            <a style="text-decoration: none; color: white;" class="fw-bolder mb-3" routerLink="/dashboard">HOME</a>
            <a style="text-decoration: none; color: white;" class="fw-bolder" routerLink="/users">USERS</a>

        </div>
        <div class="col-lg-10 align-items-center">
            <div style="height: 90%;" class="ms-5 w-100 d-flex align-items-center justify-content-center flex-column ">
                <h1>New UserForm!!!</h1>
                <form #addUserForm="ngForm" class="border rounded p-3 w-50 mt-5" >
                    <div class="form-floating mb-3 ">
                        <input name="empId" [(ngModel)]="user.empId" type="text" class="form-control" 
                        id="floatingInputId" placeholder="Employee Id" pattern="[a-zA-Z0-9]*" required #empId="ngModel">
                        <label for="floatingInputId">Employee Id </label>
                    </div>
                    <div *ngIf="empId.invalid && empId.touched" class="form-floating mb-3 text-danger">*Invalid Employee Id</div>

                    <div class="form-floating mb-3 ">
                        <input type="text" name="name" [(ngModel)]="user.name" class="form-control"
                         id="floatingInputName" placeholder="Username"  pattern="[a-zA-Z ]*" required #empName="ngModel">
                        <label for="floatingInputName">Username </label>
                    </div>
                    <div *ngIf="empName.invalid && empName.touched" class="form-floating mb-3 text-danger">*Invalid Username</div>

                    <div class="form-floating mb-3 ">
                        <input type="email"name="email" [(ngModel)]="user.email" class="form-control" 
                        id="floatingInputmail" placeholder="Email" required email #email="ngModel">
                        <label for="floatingInputmail">Email </label>
                    </div>
                    <div *ngIf="email.invalid && email.touched" class="form-floating mb-3 text-danger">*Invalid Email id</div>

                    <div class="form-floating mb-3 ">
                        <select class="form-control" name="status" [(ngModel)]="user.status" id="floatingInputstatus" required #status="ngModel">
                            <option disabled selected hidden value=""></option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <label for="floatingInputstatus">Status </label>
                    </div>
                    <div *ngIf="status.invalid && status.touched" class="form-floating mb-3 text-danger">*Invalid Status</div>

                    <div>
                        <button (click)="cancel()" class="btn btn-warning text-light ms-3 float-end">Cancel</button>
                        <button (click)="addUser()" [disabled]="addUserForm.invalid" class="btn btn-success text-light float-end">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <pre>{{user.empId}}</pre>
<pre>{{user.name}}</pre><pre>{{user.email}}</pre><pre>{{user.status}}</pre> -->